.form-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#loginForm {
width: 250px;
text-align: center;
}

#loginForm .label-wrapper {
margin-top: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

#loginForm input {
width: 100%;
}

#loginForm div {
display: flex;
align-items: center;
}